
\.idea/

ecadmin-client/target/

ec-monitoring/target/

ec-entity/target/

ec-eureka-server/target/

ec-compute-server/target/

config-server/target/

config-client/target/

api-gateway/target/

*.iml
