
\.idea/

ec-eureka-server/target/

*.iml

api-gateway/target/

config-client/target/

config-server/target/

ec-compute-server/target/

ec-entity/target/

ec-monitoring/target/

ecadmin-client/target/

padipata-ec-sleuth-zipkin/target/

*.log

ec-user-client/target/

ec-user-server/target/

ec-spring-boot-admin/target/
