security:
  basic:
    enabled: true               # 开启基于HTTP basic的认证
  user:
    name: admin                  # 配置登录的账号是user
    password: 123       # 配置登录的密码是password123
server:
  port: 1111
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:${server.port}/eureka/
    fetchRegistry: false #不检索服务
    registerWithEureka: false #关闭注册自己的操作
  server:
    enable-self-preservation: false # 设为false，关闭自我保护
    eviction-interval-timer-in-ms: 4000 # 自动清理无效服务间隔（单位毫秒，默认是60*1000）
#  instance:
#    lease-renewal-interval-in-seconds: 30
#    lease-expiration-duration-in-seconds: 100

# 开启健康检查（需要spring-boot-starter-actuator依赖）
#eureka.client.healthcheck.enabled
# 续约更新时间间隔（默认30秒）
#eureka.instance.lease-renewal-interval-in-seconds
# 续约到期时间（默认90秒）
#eureka.instance.lease-expiration-duration-in-seconds
#配置中心地址
#spring:
#  cloud:
#    config:
#      name: config-server
#      uri: http://localhost:7001/






