server:
  port: 3333
spring:
  application:
    name: ecadmin-client
  thymeleaf:
    prefix: classpath:/static/H-ui/ # 指定模板文件路径
    cache: true
    check-template-location: true
    content-type: text/html
    enabled: true
    encoding: UTF-8
    mode: HTML5
    suffix: .html

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:1111/eureka/

#spring.thymeleaf.prefix=classpath:/templates/

# Enable template caching.

# Check that the templates location exists.

# Content-Type value.

# Enable MVC Thymeleaf view resolution.

# Template encoding.

# Comma-separated list of view names that should be excluded from resolution.
# spring.thymeleaf.excluded-view-names=
# Template mode to be applied to templates. See also StandardTemplateModeHandlers.

# Prefix that gets prepended to view names when building a URL.

# Suffix that gets appended to view names when building a URL.

#
# spring.thymeleaf.template-resolver-order=
# Order of the template resolver in the chain. spring.thymeleaf.view-names= # Comma-separated list of view names that can be resolved.
#hystrix远程调用超时时间设置
hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 999999999