
spring:
  application:
    name: compute-service
  cloud:
    config:
      name: config-server
      uri: http://localhost:7001/

server:
  port: 2224

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:1111/eureka/
  # 在注册中心显示IP
  instance:
    preferIpAddress: true
    # 在注册中心中显示的格式
    instance-id: ${spring.cloud.client.ipAddress}:${server.port}

# 开启健康检查（需要spring-boot-starter-actuator依赖）
#eureka.client.healthcheck.enabled=true
# 续约更新时间间隔（默认30秒）
#eureka.instance.lease-renewal-interval-in-seconds=30
# 续约到期时间（默认90秒）
#eureka.instance.lease-expiration-duration-in-seconds=10

hystrix:
  config:
    stream:
      maxConcurrentConnections: 50




