server:
  port: 8334
spring:
  application:
    name: ec-user-server
  cloud:
    config:
      name: config-server
      uri: http://localhost:7001/
eureka:
  # 在注册中心显示IP
  instance:
    hostname: peer1
    preferIpAddress: true
    # 在注册中心中显示的格式
    instance-id: ${spring.cloud.client.ipAddress}:${server.port}
    metadata-map:
      user.name: ${security.user.name}
      user.password: ${security.user.password}
  client:
    serviceUrl:
      defaultZone: http://admin:${REGISTRY_SERVER_PASSWORD:password}@peer1:1111/eureka/

hystrix:
  config:
    stream:
      maxConcurrentConnections: 50
# 开启健康检查（需要spring-boot-starter-actuator依赖）
#eureka.client.healthcheck.enabled=true
# 续约更新时间间隔（默认30秒）
#eureka.instance.lease-renewal-interval-in-seconds=30
# 续约到期时间（默认90秒）
#eureka.instance.lease-expiration-duration-in-seconds=10
management.security.enabled: false




